<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tornado Data</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/appStyle.css">

  
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
      <h1>NOAA Tornado Data</h1>
      <p>The NOAA (National Oceanic and Atmospheric Administration) reported more than 500 tornadic events 
      the United States between November 1, 2019 and November 30, 2020.</p>
      </div>
    </div>
    <div class="row"> 
      
      <!-- locations card -->
      <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Tornado Locations</b></h5>
              <p class="card-text">Displays the date of the tornadic event, the begin location, end location, including latitude and 
                longitude, and state abbreviation.</p>
              <a href="/locations" class="btn btn-primary">See Locations</a>
            </div>        
          </div>
      </div>
    
      <!-- damages card -->
      <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Tornado Damage</b></h5>
              <p class="card-text">Displays monetary damage to crops and properties caused by the tornado, EF scale, length and width of the tornado, 
                and direct deaths and injuries.</p>
              <a href="/damages" class="btn btn-primary">See Damages</a>
            </div>
          </div>
      </div>

      <!-- plot card -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Tornado Events</b></h5>
            <p class="card-text">Displays a scatter plot examining the relationship between crops damaged, injuries and deaths vs 
              EF scale, tornado length and tornado width.   </p>
            <a href="/plot" class="btn btn-primary">See Events</a>
          </div>
        </div>
      </div>

      <!-- map card -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><b>Tornado Map</b></h5>
            <p class="card-text">Displays the begin latitude and longitude and the end latitude and longitude for each reported tornado, 
              as well as the date of the event, EF scale and size of tornado.</p>
            <a href="/map" class="btn btn-primary">See Map</a>
          </div>
        </div>
      </div>


    </div>

  

  </div>

   

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
        
        
        

</body>

</html>