<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>D3Tornadoes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/d3Style.css">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10">
        <style>h1 {text-align: center;}</style>
        <h1>Tornado Events</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <div id="scatter">
          <!-- We append our chart here. -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4  col-md-12">
        <div class="article">
          <h2>National Oceanic and Atmospheric Administration (NOAA)</h2>
            <h2>Report of 500 Tornado Events from Nov 1, 2019 to Nov 30, 2020 (396 days)</h2><br>
          <p>
            <h4>The Numbers:</h4>
            Number of County/Zone areas affected:	260<br>
            Number of Days with Tornado:	45<br>
            Number of Days with Tornado and Death:	9<br>
            Number of Days with Tornado and Death or Injury:	16<br>
            Number of Days with Tornado and Property Damage:	34<br>
            Number of Days with Tornado and Property Damage:	34<br>
           </p>

          <p><h4>EF Scale: </h4>
          The Enhanced Fujita scale (originated from Tom Fujita's F-scale) describes the strength of the tornado based on the amount and type of
          damage caused by the tornado. The F-scale of damage will vary in the destruction area;
          therefore, the highest value of the F-scale is recorded for each event.<br>
          <br>
          Enhanced Fujita Scale: <br>
          EF0 – Light Damage (40 – 72 mph): 185 <br>
          EF1 – Moderate Damage (73 – 112 mph): 211 <br>
          EF2 – Significant damage (113 – 157 mph): 65 <br>
          EF3 – Severe Damage (158 – 206 mph): 19 <br>
          EF4 – Devastating Damage (207 – 260 mph): 6 <br>
          EF5 – Incredible Damage (261 – 318 mph): 0 <br>
          Undefined: 14 <br>
        </p>

          <p><h4>Tornado Events: </h4>
            <h5>#882999: Greatest Number of Injuries and Amount of Damage</h5>
            Nashville Area: Davidson, Wilson, and Smith Counties<br>
            Date:	3/3/2020<br>
            Time (Local):	12:32 AM - 1:35 AM<br>
            EF Scale:	EF-3<br>
            Storm Motion:	East at 57.3 mph<br>
            Est. Peak Winds:	165 mph<br>
            Path Length:	60.13 mi<br>
            Max Width:	1600 yards<br>
            Injuries/Deaths:	220 / 5<br>
            Damage: $1,090,000,000<br><br>
            <h5>#883016: Deadliest Event</h5>
            Cookville, TN: Putnam County<br>
            Date:	3/3/2020<br>
            Time (Local):	1:48 AM - 1:56 AM<br>
            EF Scale:	EF-4<br>
            Storm Motion:	East at 63.1 mph<br>
            Est. Peak Winds:	175 mph<br>
            Path Length:	8.39 miles<br>
            Max Width:	900 yards<br>
            Injuries/Deaths:	87/19<br>
            Damage: $10,000,000<br>
        </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <!-- <div id="footer">
    <p></p>
  </div> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="static/js/app.js"></script>

</body>

</html>
