.card {
    margin-top: 10px; 
    margin-bottom: 62px;
    padding: 10px 20px 15px; 
    background-color:rgb(203, 220, 243); 
    width: 500px;
    height: 100px;
}


p {
    color:rgb(89, 155, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px; 
}

h5 {
  color: black;
}

.btn-primary {
  background-color: rgb(111, 160, 235);
}

.panel-primary {
  background-color: rgb(53, 121, 136);
}

.panel-heading {
  background-color: rgb(53, 121, 136);
}

.panel-title {
  background-color: rgb(53, 121, 136);
}

.panel-body {
  background-color: rgb(53, 121, 136);
}



